h1 {
 color: navy;
 margin-left: 10px
}

h2 {
  color: maroon;
  margin-left: 20px
}

.color-block-GRN {
    background-color: #4CAF50; /* Green background */
    color: black;              /* black text */
    padding: 20px;             /* Space inside the block */
    width: 300px;              /* Fixed width */
    text-align: left;        /* Center the text */
    border-radius: 8px;        /* Rounded corners */
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.color-block-RD {
  background-color: #8b0000;
  padding: 20px;             /* Space inside the block */
  width: 300px;              /* Fixed width */
  border-radius: 8px;        /* Rounded corners */
}
